<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Log In</ion-title>
        <ion-buttons end>
            <button ion-button icon-right color="danger" (click)="logOut()" *ngIf="userState">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="userState">
        <ion-list>
            <ion-item>
                <ion-thumbnail item-left>
                    <img src="assets/default_user_avatar.jpg">
                </ion-thumbnail>
                <h2>{{(userPortfolio$ | async)?.displayName}}</h2>
                <p>{{(userPortfolio$ | async)?.balance | currency:'USD':'symbol-narrow':'2.2-2'}}</p>
                <button ion-button clear icon-only item-right>
                    <!--<ion-icon name='create' is-active="false"></ion-icon>-->
                </button>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="!userState">
        <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
            <ion-item>
                <ion-label stacked>Email</ion-label>
                <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)" placeholder="Your email address"
                    [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
                <p>Please enter a valid email.</p>
            </ion-item>
            <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)" placeholder="Your password"
                    [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
            </ion-item>
            <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
                <p>Your password needs more than 6 characters.</p>
            </ion-item>
            <button ion-button block type="submit">
                Log In
            </button>
        </form>
        <button ion-button icon-left block (click)="signInWithFacebook()" style="background-color:#3b5998">
            <ion-icon name="logo-facebook"></ion-icon>
            Connect With Facebook
        </button>
        <button ion-button block outline (click)="goToSignup()">
            Create a New Account
        </button>
        <button ion-button block outline (click)="goToResetPassword()">
            Forgot Password?
        </button>
    </div>
</ion-content>
