<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Account</ion-title>
        <ion-buttons end>
            <button ion-button icon-right color="danger" (click)="logOut()" *ngIf="userState">
                <ion-icon name="log-out"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="userState">
        <ion-list>
            <ion-item [formGroup]="accountForm">
                <ion-label>Username</ion-label>
                <ion-input type="text" maxLength="16" formControlName="displayName"></ion-input>
            </ion-item>
        </ion-list>
        <div>
            <ion-row>
                <ion-col col-6>
                    <button ion-button color="primary" block [disabled]="accountForm.invalid || !accountFormChanged" (click)="onSubmit$.next(accountForm.value)">Save
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button color="light" (click)="onCancel()" block>Cancel
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

    <ion-card>
        <div *ngIf="!userState">
            <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input formControlName="email" type="email" placeholder="Your email address"
                        [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">
                    <p>Please enter a valid email.</p>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Password</ion-label>
                    <ion-input formControlName="password" type="password" placeholder="Your password"
                        [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <button ion-button block type="submit" [disabled]="loginForm.invalid">
                    Log In
                </button>
                <button ion-button block outline (click)="goToResetPassword()" type="button">
                    Forgot Password?
                </button>
            </form>
            <button ion-button block outline (click)="goToSignup()" type="button">
                Create a New Account
            </button>
            <button ion-button icon-left block (click)="signInWithFacebook()" style="background-color:#3b5998" type="button">
                <ion-icon name="logo-facebook"></ion-icon>
                Connect With Facebook
            </button>
        </div>
    </ion-card>
</ion-content>
