<ion-header>

    <ion-navbar>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">Close</button>
        </ion-buttons>
        <ion-title>Events</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

    <ion-card *ngIf="events.length < 1">
        <ion-card-content>
            No Upcoming Events.
        </ion-card-content>
    </ion-card>

    <ion-card *ngFor="let event of events">

        <ion-item>
            <h2>{{event.venue.displayName}}</h2>
            <p>{{event.location.city}}</p>
            <p>{{event.start.datetime | date:mediumDate}}</p>
        </ion-item>

        <img [src]="event.image$ | async">

        <ion-card-content>
            <h3>
                <b>Performances</b>
            </h3>
            <p>
                <span *ngFor="let perf of event.performance; let lst = last">
                    {{perf.displayName}}
                    <span *ngIf="!lst">,</span>
                </span>
            </p>
        </ion-card-content>

        <ion-row>
            <ion-col item-right text-right>
                <a [attr.href]="event.uri" target="_blank" button ion-button clear item-end>View</a>
            </ion-col>
        </ion-row>

    </ion-card>

</ion-content>

<ion-footer text-center>

    <img class="image-songkick" src="assets/powered-by-songkick-pink.svg">

</ion-footer>
