<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Artist Info</ion-title>
    </ion-navbar>
</ion-header>

<ion-content *ngIf="artist">
    <ion-card>
        <ion-card-content>
            <ion-card-title>
                {{artist?.name}}
            </ion-card-title>
            <p>
                {{artistGenres}}
            </p>
        </ion-card-content>
        <img [src]="artist?.largeImage" />

        <ion-list>
            <ion-item>
                Followers
                <ion-badge item-right>{{artistFollowers?.length}}</ion-badge>
                <button ion-button outline item-right icon-only *ngIf="!isFollowing" (click)="follow()">
                      <ion-icon name="md-add"></ion-icon>
                </button>
                <button ion-button clear item-right icon-only *ngIf="isFollowing" (click)="unFollow()">
                      <ion-icon name="md-checkmark-circle"></ion-icon>
                </button>
            </ion-item>
            <!--<ion-item>
                Buy
            </ion-item>-->
            <!--<ion-item>
                <ion-label color="primary" stacked>Number of Shares</ion-label>
                <ion-input type="number" placeholder="Shares" clearInput></ion-input>
            </ion-item>-->
            <!--<button ion-button full>Full Button</button>-->
            <!--<ion-item>
                <ion-label color="primary" stacked>Number of Shares</ion-label>
                <ion-input type="number" placeholder="Shares" clearInput></ion-input>


                <button ion-button outline item-right>Buy</button>
            </ion-item>-->
        </ion-list>
    </ion-card>

    <ion-card *ngIf="!userPortfolio">
        <ion-row center text-center>
            <ion-col>Stock Price: {{artist?.marketPrice | currency:'USD':true:'1.2-2'}}</ion-col>
            <ion-col>Market Cap: {{artist?.marketCap | currency:'USD':true:'1.2-2'}}</ion-col>
        </ion-row>
        <ion-card-content>
            Login to start buying and selling shares.
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="userPortfolio">
        <ion-card-header center text-center>
            <ion-row center text-center>
                <ion-col>Stock Price: {{artist?.marketPrice | currency:'USD':true:'1.2-2'}}</ion-col>
                <ion-col>Market Cap: {{artist?.marketCap | currency:'USD':true:'1.2-2'}}</ion-col>
            </ion-row>
            <hr />
            <!--<ion-row center text-center>
                <ion-col>Cash: {{userPortfolio?.balance | currency:'USD':true:'1.2-2'}}</ion-col>
            </ion-row>-->
            Cash: {{userPortfolio?.balance | currency:'USD':true:'1.2-2'}}
        </ion-card-header>

        <ion-list>
            <div ion-item>
                <ion-segment [(ngModel)]="action">
                    <ion-segment-button value="buy" ng-click="onBuyClick()">
                        Buy
                    </ion-segment-button>
                    <ion-segment-button value="sell">
                        Sell
                    </ion-segment-button>
                </ion-segment>
            </div>
            <div [ngSwitch]="action">
                <div *ngSwitchCase="'buy'">
                    <ion-item *ngSwitchCase="'buy'">
                        <ion-label color="primary" stacked>Number of Shares</ion-label>
                        <ion-input id="numberOfShares" type="number" placeholder="Shares" [ngModel]="numberOfShares" (ngModelChange)="onSharesChange($event)">
                        </ion-input>
                        <ion-badge [color]="getBuyBadgeColor()" item-right>{{total | currency:'USD':true:'1.2-2'}}</ion-badge>
                    </ion-item>
                    <div padding>
                        <button ion-button block color="secondary" (click)="onBuyClick()" [disabled]="!canAfford()">Buy</button>
                    </div>
                </div>

                <div *ngSwitchCase="'sell'">
                    <ion-item>
                        Sell
                    </ion-item>
                </div>
            </div>
        </ion-list>

        <!--<hr />-->
        <!--<ion-card-header>
            <ion-segment [(ngModel)]="action">
                <ion-segment-button value="buy" ng-click="onBuyClick()">
                    Buy
                </ion-segment-button>
                <ion-segment-button value="sell">
                    Sell
                </ion-segment-button>
            </ion-segment>
        </ion-card-header>-->

        <!--<ion-item>
            Cash: {{userPortfolio?.balance | currency:'USD':true:'1.2-2'}}
        </ion-item>-->

        <!--<div [ngSwitch]="action">
            <ion-list *ngSwitchCase="'buy'">
                <ion-item>
                    <ion-label color="primary" stacked>Number of Shares</ion-label>
                    <ion-input id="numberOfShares" type="number" placeholder="Shares" [ngModel]="numberOfShares" (ngModelChange)="onSharesChange($event)">
                    </ion-input>
                    <ion-badge [color]="getColor()" item-right>{{total | currency:'USD':true:'1.2-2'}}</ion-badge>
                </ion-item>
                <button ion-button block round color="secondary" class="center" (click)="onBuyClick()" [disabled]="!canAfford()">Buy</button>
            </ion-list>

            <ion-list *ngSwitchCase="'sell'">
                <ion-item>
                    Sell
                </ion-item>
            </ion-list>
        </div>-->
    </ion-card>







    <!--<pre>{{artist | json}}</pre>-->
    <!--<ion-card>
        <img [src]="artist?.largeImage" />
        <ion-card-content>
            <ion-card-title>
                {{artist?.name}}
            </ion-card-title>
            <p>
                The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
            </p>
        </ion-card-content>
        <ion-list>
            <ion-item>
                Followers
                <ion-badge item-right>{{artistFollowers?.length}}</ion-badge>
                <button ion-button outline item-right icon-only *ngIf="!isFollowing" (click)="follow()">
                      <ion-icon name="md-add"></ion-icon>
                </button>
                <button ion-button clear item-right icon-only *ngIf="isFollowing" (click)="unFollow()">
                      <ion-icon name="md-checkmark-circle"></ion-icon>
                </button>
            </ion-item>
            <ion-item>
                Price
            </ion-item>
            <ion-item>
                Buy
            </ion-item>

        </ion-list>
    </ion-card>-->

</ion-content>
